{% extends 'watcher/layout.html' %}

{% block content %}
<h3 class="center-align blue lighten-2">{{title}}</h3>

        
<ul class="collection">
    {% for listing in listings %}
        <li class="collection-item"><a href="watcher/listing/{{listing.id}}">{{listing.title}}</a>
        {% for img_url in listing.split_image_urls %}
                <img src="{{img_url}}"align="right" style="max-height:20px">
        {% endfor %}
            
        </li>
        
    {% endfor %}

</ul>
{% endblock %}

