<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>CraigWatch</title>

</head>
<body>
    <header class="container center-align">
        <h1>CraigWatcher</h1>

    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
        <br>

        <a class="center-align" href="/admin">Admin Login</a>
    </div>
    
</body>
</html>